.home #main {
  padding: 0px 0;
	margin-top: 0px;
}

.homepage-video {
	margin-top: 40px;	
}

.mobile-icons {
display: none;
	
}

.mobile-header {
	display: none;
}


.icon-naam {	
	color:#ffffff;
	margin-top: -30px;
	text-align: center;
	font-size: smaller;
	text-indent: 0;
}

/* services blok */

.services-blok {
	background-color: #000000;
	height: 300px;
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.service-icon {
	margin-top: 10px;	
}

.icon-tekst {
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	margin-top: -60px;
	padding-left: 30px;
}

.service-icon {
  padding: 30px;
  transition: transform 
	.2s; /* Animation */
  margin: 0 auto;
}

.service-icon:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* spelers blok */

.spelers-blok {	
	height: 550px;
	background-color: #f0eeee;
}


.widget-title {
	font-weight: 500;
	font-size: 17px;	
}

/* blog */

.single .post:not(.type-event) .post-thumbnail img {
    display: none;
}


/* Sidebar */
.widget_presscore-blog-posts {
	padding: 25px !important
}

.widget_presscore-blog-posts time {
	display: none !important;
}

/* In de media */
.aio-icon-read {
	font-family: ropa sans;
	text-transform: uppercase;
	background-color: #ff2301;
	color: white;
	margin-top: 20px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight: 500;
	text-align: left;
	font-size: 15px;
	line-height: 2;
	width: 250px;
}

a:hover.aio-icon-read {
	background-color: #b50a01;
	color: white;
}

.page-id-1821 h2 {
	font-size: 20px;
	line-height: 28px;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
	padding-top: 10px;
}

.aio-icon-description {
	padding-right: 15px;
	padding-left: 20px;
}

/* Vimeo Video's */
.ultv-video {
	margin-left: -20px;
}

/* Whatsapp button */
.whatsappme__button {
	bottom: 50px !important;
}

/* Scroll pijl rechtsonder */
.scroll-top {
	display: none;
	margin-right: 80px;
	margin-bottom: 18px;
}